# Data
data/train/*
data/val/*
data/test/*
data/raw/*
data/*.zip
!data/.gitkeep

# Model weights (too large for GitHub - use HuggingFace Hub or Drive link instead)

# Python
__pycache__/
*.pyc

# OS
.DS_Store
